.User {
  display: flex;

  &:nth-child(even) {
    background-color: lightblue;
  }
}

.Users__header {
  display: flex;
  background: lighten(gray, 20%);
}

.Users__sort {
  cursor: pointer;

  &:hover {
    &::after {
      content: '˅';
    }
  }

  &::after {
    opacity: 0.5;
    margin: -1px 0 0 5px;
    line-height: 1;
  }
}

.Users__sort.Users__sort--asc {
  &::after {
    opacity: 1;
    content: '˅';
    font-weight: 600;
  }
}

.Users__sort.Users__sort--desc {
  &::after {
    opacity: 1;
    content: '˄';
    font-weight: 600;
  }
}

.User__cell {
  // display: block;
  padding: 10px 15px;
  min-width: 200px;
}

.User__cell.User__cell--name {
  text-transform: capitalize;
}
